extends layout

block content
	.w3-container.w3-content
	.w3-card-4
		header.w3-indigo
			h2 Alunos do Curso #{curso}
		.w3-container
			table.w3-table.w3-bordered
				tr
					th Nome
					th Email
					th Ações
				each aluno in alunos
					tr
						td= aluno.name
						td= aluno.username
						td 
		footer.w3-indigo
			address Generated in RPCW :: #{data}