extends layout

block content
  h1= title

  .w3-container.w3-display-middle
    p.w3-center
      img.w3-margin-auto(src="/images/hydratext_title.png", alt="Logo", style="width: 50%; height: auto;")
    p.w3-center
      button.w3-button.w3-indigo.w3-margin.w3-large
        a(href="/register") Registo
      button.w3-button.w3-indigo.w3-margin.w3-large
        a(href="/login") Iniciar Sessão
