extends layout

block content
  h1.w3-center Iniciar Sessão
  .w3-card-4.w3-content.w3-padding.w3-margin-top.w3-white
    form.w3-form(action='login', method='POST')
      div
        label(for='username') 
        b Email
        input#username.w3-input(type='text', name='username' required='required')
      div
        label(for='password') 
        b Palavra-Passe
        input#password.w3-input(type='password', name='password' required='required')
      div
        input.w3-input(type='submit', value='Iniciar Sessão').w3-button.w3-blue.w3-margin-top

