extends layout



block content
  h1.w3-center Criar Notificação
  .w3-card-4.w3-content.w3-padding.w3-margin-top.w3-white
    form.w3-form(action='/notificacao', method='POST')
      div
        label(for='Descricao')
        b Descrição
        input.w3-input(type='text', name='descricao', required='required')
      div
        label(for='Link')
        b Link
        input.w3-input(type='text', name='link')
      //div 
      //  label(for='Destinatario')
      //  b Destinatario
      //  select.w3-select(name='destinatario')
      //    option(value='alunos') Alunos
      //    option(value='professores') Professores
      //    option(value='todos') Todos
      input.w3-input(type='submit', value='Criar Curso').w3-button.w3-blue.w3-margin-top
