extends layout



block content
  h1.w3-center Adicionar Universidade
  .w3-card-4.w3-content.w3-padding.w3-margin-top.w3-white
    form.w3-form(action='/universidade', method='POST')
      div
        label(for='nome')
        b Universidade
        input.w3-input(type='text', name='nome', required='required')
      input.w3-input(type='submit', value='Adicionar Universidade').w3-button.w3-blue.w3-margin-top
